.contact-container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .contact-form .form-group {
    margin-bottom: 20px;
  }
  
  .contact-form input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .contact-form button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  
  .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .social-link-item {
    margin-bottom: 15px;  /* Espacio entre cada red social guardada */
  }
  
  .social-links a {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
  }
  
  .icon {
    font-size: 30px;
    margin-right: 10px;
    transition: transform 0.3s;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }
  
  .linkedin {
    color: #0077b5;
  }
  
  .github {
    color: black;
  }
  
  .twitter {
    color: #1da1f2;
  }
  
  .delete-button {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
  }
  
  .delete-button:hover {
    background-color: #e60000;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .navigation-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
  }
  
  .navigation-buttons button:hover {
    transform: scale(1.05);
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .social-entry {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
  }
  
  .social-entry .delete-button {
    order: -1;
  }
  
.motion-button {
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

